
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.kanban-board {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  background-color: #d8d4d4;
  color: #fff;
  padding: 20px;
  display : inline-block;
  border-radius: 20px;
}

.select {
  padding: 10px;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
  color: #333;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s;
  display: inline-block;
}

.select:hover {
  border-color: #666;
}
.select option {
  background-color: #fff;
  color: #333;
  display: inline-block;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.column {
  flex: 1;
  min-width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.3s;
}

.column:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.display{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 80px;
  height: 30px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.3s;
 
}
.display:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(132, 121, 121, 0.15);

}